* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, sans-serif;
}

#tab-box, #infoBannerBox {
  position: relative;
  background-color: #212121;
  display: inline-block;
}
 
#chordWrap, 
#underlayWrap, 
#scrollSelector {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
}

#scrollSelector {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.scrollItem {
  display: inline-block;
  box-sizing: border-box;
  flex: none;
}


 